body {
    background-color: #99abb1 ;

}
h1 {
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #e5e0e0;
}
#description {
    text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 25px;
}

#survey-form {
    text-align: center;
    width: 500px;
    height: 700px;
    margin: auto;
    background-color:#e5e0e0;
    padding: 10px;

}
#name-label{
    float: left;
    margin: 20px 250px 15px 0px; 
}
#name{
    height: 25px;
    width: 350px;
    border-radius: 3px;
    clear: both;
    float: left;
    border-radius: 4px;
    
}
#name:focus{
    background-color: grey;

}
#email-label{
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
}
#email{
    height: 25px;
    width: 350px;
    border-radius: 3px;
    clear: left;
    float: left;
    border-radius: 4px;
    
}
#email:focus{
    background-color: grey;

}
#number-label{
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
}
#number{
    height: 25px;
    width: 350px;
    border-radius: 3px;
    clear: left;
    float: left;
    border-radius: 4px;
}
#number:focus{
    background-color: grey;
}
#dropdown{
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
    width: 25em;
}
.genderdiv {
    text-align: left;
    clear: left;
    float: left;
}
.checkboxclass {
    clear: left;
    float: left;
}
.cclass {
        margin: 0px 25px 5px 0px;
        width: 2em;
}
.checkboxclass input[type=checkbox] {
    float: left;
    clear: left;
    margin: 0px 25px 5px 0px;
}
.textclass {
    height: 100px;
    width: 300px;
    clear: left;
    float: left;
    margin: 25px 250px 15px 0px;
}
#submit {
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
    width: 150px;
}
.gender{
    width: 2em;
}
