body {
    background-color: #00bfff ;

}
h1 {
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
#description {
    text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#survey-form {
    text-align: center;
    width: 300px;
    height: 100%;
    margin: auto;
    background-color:red;

}
#name-label{
    float: left;
    margin: 20px 250px 15px 0px; 
}
#name{
    height: 25px;
    width: 200px;
    border-radius: 3px;
    float: left;
}
#name:focus{
    width: 400px;
}
#email-label{
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
}
#email{
    height: 25px;
    width: 200px;
    border-radius: 3px;
    clear: left;
    float: left;
}
#number-label{
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
}
#number{
    height: 25px;
    width: 200px;
    border-radius: 3px;
    clear: left;
    float: left;
}
#dropdown{
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
}
.genderdiv {
    text-align: left;
    clear: left;
    float: left;
}
.checkboxclass {
    clear: left;
    float: left;
}
.cclass {
        margin: 0px 25px 5px 0px;
}
.checkboxclass input[type=checkbox] {
    float: left;
    clear: left;
    margin: 0px 25px 5px 0px;
}
.textclass {
    height: 50px;
    width: 200px;
    clear: left;
    float: left;
    margin: 25px 250px 15px 0px;
}
#submit {
    clear: left;
    float: left;
    margin: 20px 250px 15px 0px;
}